about{  
    color: #000 !important;
  }
body{
    background: #ffffff;
}
.loader{
    width: 40px;
    right:20px;
    border-radius: 100%;
    position: relative;
    margin: 0 50%;
    margin-bottom:10px; 
}


.loader span{
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: #3498db;
}

.loader span:nth-child(1){
    animation: grow 1s ease-in-out infinite;
}

.loader span:nth-child(2){
    animation: grow 1s ease-in-out 0.15s infinite;
}

.loader span:nth-child(3){
    animation: grow 1s ease-in-out 0.30s infinite;
}

.loader span:nth-child(4){
    animation: grow 1s ease-in-out 0.45s infinite;
}

@keyframes grow{
  0%, 100%{
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }

  50%{
    -webkit-transform: scaleY(1.8);
    -ms-transform: scaleY(1.8);
    -o-transform: scaleY(1.8);
    transform: scaleY(1.8);
  }
}
/**/
::-moz-focus-outer, ::-moz-focus-inner {
    border: 0;
    padding: 0;
}

#lmore{
    width: 100%;
}

.but {
    background: #3498db;
    border: none;
    padding: 5px 24px;
    color: white;
    font-size: 20px;
    border-radius: 9px;
    outline: none;
    transition: background-color 0.1s linear;
}

.but:hover{
    background-color: #276c9c;	
}

.but:active{
    background: #13344a;
}

input {
    border: 1px solid #3498db;
    border-radius: 3px;
    line-height: 32px;
    padding: 0 16px;
    outline: 0;
    font-size: 14px;
    width: 100%;
    max-width: 100%;
}

.msg-table {
    margin-top: 1cm;
    display: flex;
    flex-direction: column;
}

.reverse{
    flex-direction: column-reverse;
}

.msg-table {
    max-width: 400px;
    margin: auto;
    background: #eee;
    padding: 32px;
}

.msg {
    width: 100%;
    padding-top: 3px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    background-color: #d1d1d1;
    text-align: left;
    text-align-last: left;
    word-wrap: break-word;
    margin-bottom: 10px;
}
.msg:hover{
    background-color: #929292;
}

.name{
    font-family: "monospace";
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;

}
.text{
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.cbalink{
    display: none;
}



#field{
    margin-bottom: 20px;
}

/*waring*/
.alert{
    padding:15px;
    margin-bottom:20px;
    border: 1px solid transparent;
    border-radius:4px
}
.alert-warning{
    color:#8a6d3b;
    background-color:#fcf8e3;
    border-color:#faebcc
}
/*var*/
body{
    margin: 0px;
    margin-top: 0px;
}

.page_header {
    max-height: 80px;
    position: fixed;
    z-index: 10;
    background-color: #ffffff;
    width: 100%;
    border-bottom: 1px solid #e3e6e8;
}
.page_header .content {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
    /*  border-radius: 0 !important;*/
}
.page_header .content .text {
    padding: 24px 24px 22px 24px;
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bold {
    color: #212121;
    font-weight: 700;
}

.main{
    padding-top: 100px;
    width: 100%;
}

.kekeke {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.timestamp{
    float: right;
    color: #7d7d7d;
    margin-right: 20px;
    font-size: 12px;
}
.text{
    font-family: monospace;
    font-size: 14px;
    margin-top:10px;
}
.normalbut{
    margin: 20%;
    margin-top: 20px;
    margin-bottom: 0px;
}

#online{
    font-weight: 700;
    font-size: 20px;
}
.filler{
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0.5;
    position: fixed;
}